.NavBar{
    background-color: rgb(82, 172, 200);
}
.SearchBar{
    text-align : start;
   margin-left: 40%;
   align-self: auto;

}
.AddRecipe{
    text-align : end;
}
#addRecipe{
    width: 30px;
}
#goBack{
    width: 30px;
    padding: 0;
}
.goBack{
    margin-top:2px;
   margin-left: 6px;
   float: left;
}